.App {
  text-align: center;
  font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
}
.main {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

