.section {
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  composes: mb-10 from global;
}
.image {
  composes: mb-4 from global;
}
.name {
  composes: mb-8 text text_type_main-medium from global;
}
.title {
  composes: text text_type_main-large mt-20 from global;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  composes: mb-25 from global;
}
.item_name {
  composes: text text_type_main-default text_color_inactive mb-2 from global;
  text-align: center;
}
.item_value {
  composes: text text_type_digits-default text_color_inactive from global;
  text-align: center;
}